.uam_group_info_link {
	cursor: pointer;
}
.uam_group_info ul {
	display:block;
	padding:0;
}

.uam_group_info ul li {
	padding:0;
	margin:0;
}

.uam_group_info_head {
	list-style:none;
	font-weight:bold;
}

.uam_group_info_head ul {
	font-weight:normal;
}

.uam_group_selection li a{
	vertical-align:middle;
}

.tooltip {
	display:none;
	width:280px;
	font-size:10px;
	background-color:#F9F9F9;
	padding:4px 8px 0;
	border:1px solid #DFDFDF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}