{
  "timeout": 10,
  "source": {
    "directories": [
      "src/UserAccessManager/AccessHandler",
      "src/UserAccessManager/Cache",
      "src/UserAccessManager/Command",
      "src/UserAccessManager/Config",
      "src/UserAccessManager/Database",
      "src/UserAccessManager/FileHandler",
      "src/UserAccessManager/ObjectHandler",
      "src/UserAccessManager/SetupHandler",
      "src/UserAccessManager/UserGroup",
      "src/UserAccessManager/Util"
    ],
    "excludes": [
      "vendor",
      "tests",
      "src/UserAccessManager/View",
      "src/UserAccessManager/Wrapper"
    ]
  },
  "logs": {
    "text": "humbuglog.txt",
    "json": "humbuglog.json"
  }
}