{
  "timeout": 20,
  "source": {
    "directories": [
      "src/Access",
      "src/Cache",
      "src/Command",
      "src/Config",
      "src/Controller",
      "src/Database",
      "src/File",
      "src/Form",
      "src/Object",
      "src/ObjectMembership",
      "src/Setup",
      "src/User",
      "src/UserGroup",
      "src/Util",
      "src/Widget"
    ],
    "excludes": [
      "vendor",
      "tests"
    ]
  },
  "logs": {
    "text": "humbuglog.txt",
    "json": "humbuglog.json"
  }
}