<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="./tests/bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="UserAccessManager Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="E_COMPILE_ERROR|E_RECOVERABLE_ERROR|E_ERROR|E_CORE_ERROR" />
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/View</directory>
            <directory suffix=".php">./src/Wrapper</directory>
        </exclude>
        <report>
            <html outputDirectory="./tmp/coverage"/>
        </report>
    </coverage>
</phpunit>
